extends layout

block content
    .container: .jumbotron
      h2 Applications so far
      table.table-responsive
        table.table
          tr
            th= t('firstname')
            th= t('lastname')
            th= t('email')
            th= t('about')
          for app in apps
            tr
              td= app.firstname
              td= app.lastname
              td= app.email
              td= app.aboutu
